@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html, body {	background-image:url("https://firebasestorage.googleapis.com/v0/b/glide-prod.appspot.com/o/icon-images%2Fanonymous-bd10a394-3503-4356-b9d4-06c311f24f91.jpg?alt=media&token=25abc3e7-e407-42b8-a4b0-a65cb6ae3167");
	background-size:cover;}
.init {
  display: block;
  opacity: 0;
}
#title {
  transition: all 2s ease;
  position: absolute;
}
.animate {
  position: absolute;
  box-shadow: 0px 0px 20px black;
  opacity: 1;
}
.myframe {
  transition: all 2s ease;
  position: absolute;
  overflow: hidden;
}
.myframe > .overlap {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
}
body {
  overflow: hidden;
  background: #eee;
  color: #333;
}
iframe {
  border: none;
  width: 100%;
  height: 100%;
}
h1, p {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #fff;
  font-weight: 200;
  margin: 0;
  padding: 0;
}